POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

POSTGRES_ENV_POSTGRES_PASSWORD=mysecretpass
POSTGRES_ENV_POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=/admin
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=changeme
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_SECURE_SSL_REDIRECT=False



