<line ng-attr-x1="{{transition.from_state.x}}"
      ng-attr-y1="{{transition.from_state.y}}"
      ng-attr-x2="{{transition.to_state !== null ? transition.to_state.x : scaledX}}"
      ng-attr-y2="{{transition.to_state !== null ? transition.to_state.y : scaledY}}"
      ng-attr-class="{{transition.selected || transition.remote_selected ?
                       transition.selected && transition.remote_selected ? 'selected-conflict' :
                       transition.selected ? 'selected' : 'remote-selected' : 'hidden'}}"/>
<line ng-attr-x1="{{transition.from_state.x}}"
      ng-attr-y1="{{transition.from_state.y}}"
      ng-attr-x2="{{transition.to_state !== null ? transition.to_state.x : scaledX}}"
      ng-attr-y2="{{transition.to_state !== null ? transition.to_state.y : scaledY}}"
      class="transition {{transition.status === null ? 'unknown' : transition.status ? 'pass' : 'fail'}}"/>
<path class="transition" ng-if="transition.to_state !== null" ng-attr-d="M {{transition.from_state.x}} {{transition.from_state.y}} A 101 160 0 0 0 {{transition.to_state.x}} {{transition.to_state.y}}"></path>
<g ng-if="!debug.hidden && current_scale > 0.5">
<line ng-if="transition.to_state !== null"
      ng-attr-x1="{{transition.perpendicular(scaledX, scaledY).x2}}"
      ng-attr-y1="{{transition.perpendicular(scaledX, scaledY).y2}}"
      ng-attr-x2="{{scaledX}}"
      ng-attr-y2="{{scaledY}}"
      ng-attr-class="debug" />
<g ng-attr-transform="translate({{transition.to_state.x}},
                                {{transition.to_state.y}})
                      rotate({{transition.slope()}})
                      translate({{transition.length()/2}}, 0)">
<circle ng-attr-cx="0"
        ng-attr-cy="0"
        r=10
        class="debug" ></circle>
</g>
<g ng-attr-transform="translate({{transition.to_state.x}},
                                {{transition.to_state.y}})
                      rotate({{transition.slope()}})
                      translate({{transition.length()/2}}, 0)">
<line x1="0" y1=-20  x2=0 y2=20 class="debug"/>
</g>
<g ng-attr-transform="translate({{transition.to_state.x}},
                                {{transition.to_state.y}})
                      rotate({{transition.slope()}})
                      translate({{transition.to_state.size}}, 0)">
<circle ng-attr-cx="0"
        ng-attr-cy="0"
        r=10
        class="debug" ></circle>
</g>
<g ng-attr-transform="translate({{transition.from_state.x}},
                                {{transition.from_state.y}})
                      rotate({{transition.slope()}})
                      translate({{-transition.from_state.size}}, 0)">
<circle ng-attr-cx="0"
        ng-attr-cy="0"
        r=10
        class="debug" ></circle>
</g>
</g>
<g ng-if="transition.to_state !== null"  ng-attr-transform="translate({{transition.to_state.x}},
                                {{transition.to_state.y}})
                      rotate({{transition.slope()}})
                      translate({{transition.to_state.size}}, 0)
                      rotate(180)
                      translate(-19, -9)
                      ">
<path transform="translate(-2, -3)" d="M0,0 L0,24 L24,12 z" class="transition {{transition.selected && 'selected' || 'hidden'}}"/>
<path d="M0,0 L0,18 L18,9 z" class="transition"/>
</g>
<g ng-if="current_scale > 0.5 && transition.to_state !== null"
   ng-attr-transform="translate({{transition.from_state.x}},
                                {{transition.from_state.y}})
                      rotate({{transition.slope()}})
                      translate({{-transition.length()/2}}, 0)
                      rotate(180)
                      translate(0, -5)
                      ">
<text ng-attr-class="{{transition.selected && ! transition.edit_label ? 'selected' : 'hidden'}}"
      filter="url(#selected)"
      text-anchor="middle"
      x="0"
      y="0"> {{transition.label}}</text>
<text text-anchor="middle" x="0" y="0">{{transition.label}}{{transition.edit_label?'_':''}}</text>
</g>
