<!DOCTYPE html>
<html ng-app="triangular">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script data-require="angular.js@1.6.2" src="js/angular.js" data-semver="1.6.2"></script>
    <script src="js/reconnecting-websocket.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/hamster.js"></script>
    <script src="js/mousewheel.js"></script>
  </head>
  <body ng-controller="MainCtrl" id="Main">
    <svg id="frame"
         ng-attr-height="{{graph.height}}"
         ng-attr-width="{{graph.width}}"
         ng-mousedown="onMouseDown($event)"
         ng-mouseup="onMouseUp($event)"
         ng-mouseenter="onMouseEnter($event)"
         ng-mouseleave="onMouseLeave($event)"
         ng-mousemove="onMouseMove($event)"
         ng-mouseover="onMouseOver($event)"
         msd-wheel="onMouseWheel($event, $delta, $deltaX, $deltaY)">
        <defs>
		<filter x="0" y="0" width="1" height="1" id="selected">
		  <feFlood flood-color="#b3d8fd"/>
		  <feComposite in="SourceGraphic" operator="xor"/>
		</filter>
		</defs>
         <g transform="scale(1.0)" id="frame_g">
            <g ng-repeat="transition in transitions">
            <g transition></g>
            </g>
            <g ng-repeat="state in states"
               ng-attr-transform="translate({{state.x}},{{state.y}})"
               ng-attr-class="{{state.type}}">
               <g state></g>
            </g>
            <g ng-attr-transform="translate({{scaledX}},{{scaledY}})" ng-attr-class="{{debug.hidden && 'hidden' || ''}} debug-cursor" >
                <line x1="-5" y1="0" x2="5" y2="0"/>
                <line x1="0" y1="-5" x2="0" y2="5"/>
            </g>
            <g quadrants>
            </g>
        </g>
        <g debug></g>
        <g cursor></g>
    </svg>
  </body>
</html>

