<!DOCTYPE html>
<html ng-app="triangular">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.1/angular.js" data-semver="1.2.1"></script>
    <script src="app.js"></script>
    <script src="hamster.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <svg id="frame"
         ng-attr-height="{{graph.height}}"
         ng-attr-width="{{graph.width}}"
         ng-mousedown="onMouseDown($event)"
         ng-mouseup="onMouseUp($event)"
         ng-mouseenter="onMouseEnter($event)"
         ng-mouseleave="onMouseLeave($event)"
         ng-mousemove="onMouseMove($event)"
         ng-mouseover="onMouseOver($event)"
         >
        <g transform="scale(0.5)" id="frame_g">
        <g ng-repeat="link in links">
            <line ng-attr-x1="{{link.x1}}" ng-attr-y1="{{link.y1}}" ng-attr-x2="{{link.x2}}" ng-attr-y2="{{link.y2}}" />
        </g>
        <g ng-repeat="device in devices" ng-attr-transform="translate({{device.x}},{{device.y}})">
    	<circle
    		cx="0"
    		cy="0"
    		ng-attr-r="{{device.r}}">
    	</circle>
        </g>
        </g>
        <text ng-attr-x="{{graph.right_column}}" y="15">width: {{graph.width}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="35">height: {{graph.height}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="55">rc: {{graph.right_column}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="75">Mouse down: {{onMouseDownResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="95">Mouse up: {{onMouseUpResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="115">Mouse move: {{onMouseMoveResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="135">Mouse over: {{onMouseOverResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="155">Mouse enter: {{onMouseEnterResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="175">Mouse leave: {{onMouseLeaveResult}}</text>
    </svg>
    <script>
      (function() {
          var svg = document.getElementById('frame');
          var g = document.getElementById('frame_g');
          var current_scale = 1.0;
          console.log(svg);

          Hamster(svg).wheel(function(event, delta, deltaX, deltaY){
            console.log(delta);
            current_scale = Math.max(0.1, Math.min(10, (current_scale + delta / 100)));
            g.setAttribute('transform','scale(' + current_scale + ')');
            event.preventDefault();
          });
       })();
       console.log('done');
    </script>
  </body>
</html>

