<!DOCTYPE html>
<html ng-app="triangular">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.6.2" src="http://code.angularjs.org/1.6.2/angular.js" data-semver="1.6.2"></script>
    <script src="bundle.js"></script>
    <script src="hamster.js"></script>
    <script src="mousewheel.js"></script>
  </head>
  <body ng-controller="MainCtrl" id="Main">
    <svg id="frame"
         ng-attr-height="{{graph.height}}"
         ng-attr-width="{{graph.width}}"
         ng-mousedown="onMouseDown($event)"
         ng-mouseup="onMouseUp($event)"
         ng-mouseenter="onMouseEnter($event)"
         ng-mouseleave="onMouseLeave($event)"
         ng-mousemove="onMouseMove($event)"
         ng-mouseover="onMouseOver($event)"
         msd-wheel="onMouseWheel($event, $delta, $deltaX, $deltaY)"
         >
         <g transform="scale(1.0)" id="frame_g">
            <g ng-repeat="link in links">
                <line ng-attr-x1="{{link.from_device.x}}"
                      ng-attr-y1="{{link.from_device.y}}"
                      ng-attr-x2="{{link.to_device !== null ? link.to_device.x : scaledX}}"
                      ng-attr-y2="{{link.to_device !== null ? link.to_device.y : scaledY}}"
                      ng-attr-class="{{link.selected && 'selected' || 'hidden'}}"/>
                <line ng-attr-x1="{{link.from_device.x}}"
                      ng-attr-y1="{{link.from_device.y}}"
                      ng-attr-x2="{{link.to_device !== null ? link.to_device.x : scaledX}}"
                      ng-attr-y2="{{link.to_device !== null ? link.to_device.y : scaledY}}"
                      class="link"/>
            </g>
            <g ng-repeat="device in devices"
               ng-attr-transform="translate({{device.x}},{{device.y}})"
               class="router">
                 <line ng-attr-x1="{{-device.size - 10}}"
                       ng-attr-y1="0"
                       ng-attr-x2="{{device.size + 10}}"
                       ng-attr-y2="0"
                       ng-attr-class="{{debug.hidden && 'hidden' || ''}} debug" />
                 <line ng-attr-x1="0"
                       ng-attr-y1="{{-device.size - 10}}"
                       ng-attr-x2="0"
                       ng-attr-y2="{{device.size + 10}}"
                       ng-attr-class="{{debug.hidden && 'hidden' || ''}} debug" />
                 <rect ng-attr-x="{{-device.size}}"
                       ng-attr-y="{{-device.size}}"
                       ng-attr-width="{{device.size * 2}}"
                       ng-attr-height="{{device.size * 2}}"
                       ng-attr-class="{{debug.hidden && 'hidden' || ''}} debug" />
                <circle
                    cx="0"
                    cy="0"
                    ng-attr-r="{{device.size + 2}}"
                    ng-attr-class="{{device.selected && 'selected' || 'hidden'}}">
                </circle>
                <circle
                    cx="0"
                    cy="0"
                    ng-attr-r="{{device.size}}">
                </circle>
                <g transform="rotate(45)">
                <line ng-attr-x1="12"
                      ng-attr-y1="0"
                      ng-attr-x2="{{device.size-18}}"
                      ng-attr-y2="0"/>
                <line ng-attr-x1="-12"
                      ng-attr-y1="0"
                      ng-attr-x2="{{-device.size+18}}"
                      ng-attr-y2="0"/>
                <polygon points="0 0, 10 10, 0 20" ng-attr-transform="rotate(0) translate({{device.size-22}}, -20) scale(2.0)"/>
                <polygon points="0 0, 10 10, 0 20" ng-attr-transform="rotate(180) translate({{device.size-22}}, -20) scale(2.0)"/>
                <line ng-attr-x1="0"
                      ng-attr-y1="17"
                      ng-attr-x2="0"
                      ng-attr-y2="{{device.size-5}}"/>
                <line ng-attr-x1="0"
                      ng-attr-y1="-17"
                      ng-attr-x2="0"
                      ng-attr-y2="{{-device.size+5}}"/>
                <polygon points="0 0, 10 10, 0 20" ng-attr-transform="rotate(90) translate(-22, -20) scale(2.0)" />
                <polygon points="0 0, 10 10, 0 20" ng-attr-transform="rotate(270) translate(-22, -20) scale(2.0)"/>
                </g>
            </g>
            <g ng-attr-transform="translate({{scaledX}},{{scaledY}})" ng-attr-class="{{debug.hidden && 'hidden' || ''}} debug-cursor" >
                <line x1="-5" y1="0" x2="5" y2="0"/>
                <line x1="0" y1="-5" x2="0" y2="5"/>
            </g>
        </g>
        <g ng-attr-class="{{debug.hidden && 'hidden' || ''}}">
        <text ng-attr-x="{{graph.right_column}}" y="15">width: {{graph.width}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="35">height: {{graph.height}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="55">rc: {{graph.right_column}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="75">Mouse down: {{onMouseDownResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="95">Mouse up: {{onMouseUpResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="115">Mouse move: {{onMouseMoveResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="135">Mouse over: {{onMouseOverResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="155">Mouse enter: {{onMouseEnterResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="175">Mouse leave: {{onMouseLeaveResult}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="195">Current scale: {{current_scale.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="215">Pan X: {{panX.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="235">Pan Y: {{panY.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="255">View State: {{view_controller.state.name}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="275">Mouse X: {{mouseX.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="295">Mouse Y: {{mouseY.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="315">Scaled X: {{scaledX.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="335">Scaled Y: {{scaledY.toFixed(2)}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="355">Key: {{last_key}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="375">Key Code: {{last_key_code}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="395">Move State: {{move_controller.state.name}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="415">Selected devices: {{selected_devices.length}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="435">Selected links: {{selected_links.length}}</text>
        <text ng-attr-x="{{graph.right_column}}" y="455">Link State: {{link_controller.state.name}}</text>
        </g>
        <g ng-attr-transform="translate({{cursor.x}},{{cursor.y}})" ng-attr-class="{{cursor.hidden && 'hidden' || ''}}" >
            <line x1="-15" y1="0" x2="15" y2="0" class="cursor"/>
            <line x1="0" y1="-15" x2="0" y2="15" class="cursor"/>
        </g>
    </svg>
  </body>
</html>

