/* Put your css in here */

body {
    background-color: yellow;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

svg {
    background-color: white;
    cursor: none;
}

svg text {
    fill: #337AB7;
}

svg circle {
    fill: #D7D7D7;
}

circle.selected {
    stroke: #337AB7;
    stroke-width: 2;
}

svg line.link {
    stroke: #D7D7D7;
    stroke-width: 2;
}

svg line.cursor {
    stroke: #707070;
    stroke-width: 2;
}

.debug line {
    stroke: #337AB7;
    stroke-width: 4;
}


.hidden {
    display: none;
}
